[Desktop Entry]
Type=Application
Name=Rylus
Comment=Use your tablet as graphic tablet/touch screen on your computer.
TryExec=rylus
Exec=rylus
Terminal=false
Icon=rylus
Categories=Office;Graphics;Education;Presentation;
StartupWMClass=rylus
